.form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e8e8e8;
    }

    &__item-sublist {
        width: 100%;
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item-sub {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        border-radius: 4px;
        padding: 4px 8px;
        border: 1px solid #e8e8e8;

        &-name {
            line-height: 20px;
        }
    }

    &__controls {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__input-search {
        padding: 0 10px;
    }
}